# Dependencies
node_modules/
yarn.lock
package-lock.json

# Build output
dist/

# Environment variables
.env

# Logs
*.log
error.log
combined.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
